<!DOCTYPE html>
<html lang="en-US">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Pepper Castle</title>
   <!-- Google Fonts -->
   <link rel="preconnect" href="https://fonts.googleapis.com/">
   <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
   <link
      href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&amp;family=Work+Sans:wght@300;400;500;600;700&amp;display=swap"
      rel="stylesheet">
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
   <link rel='stylesheet' id='bootstrap-css' href='css/bootstrap/css/bootstrap.min.css' type='text/css' media='all' />
   <!-- Font Awesome Icons CSS -->
   <link rel='stylesheet' id='font-awesome' href='css/fontawesome/css/font-awesome.min.css' type='text/css'
      media='all' />
   <!-- Owl Carousel -->
   <link rel='stylesheet' id='owl-carousel' href='js/owl-carousel/owl.carousel.min.css' type='text/css' media='all' />
   <!-- Main CSS File -->
   <link rel='stylesheet' id='caverta-style-css' href='/css/style.css' type='text/css' media='all' />
   <!-- favicons -->
   <link rel="icon" href="images/fav.png" sizes="32x32" />
   <link rel="icon" href="images/icons/favicon-192x192.png" sizes="192x192" />
   <link rel="apple-touch-icon-precomposed" href="images/icons/favicon-180x180.png" />
</head>

<body class="home">
   <div class="menu-mask"></div>
   <!-- MOBILE MENU HOLDER -->
   <div class="mobile-menu-holder">
      <div class="modal-menu-container">
         <div class="exit-mobile">
            <span class="icon-bar1"></span>
            <span class="icon-bar2"></span>
         </div>
         <!-- MOBILE MENU -->
         <ul class="menu-mobile">
            <li class="menu-item menu-item-has-children current-menu-item">
               <a href="/">Home</a>
            </li>
            <li class="menu-item menu-item-has-children">
               <a href="/about">About</a>
            </li>
            <li class="menu-item menu-item-has-children">
               <a href="/testimonials">Testimonials</a>
            </li>
            <li class="menu-item menu-item-has-children">
               <a href="/our-menu">Our Menu</a>
            </li>
            <li class="menu-item menu-item-has-children">
               <a href="/contact">Contact</a>
            </li>
            <li class="menu-item menu-item-has-children">
               <a href="/signup">Sign Up</a>
            </li>
            <li class="menu-item menu-item-has-children">
               <a href="/signin">Sign In</a>
            </li>
            <!-- <li class="menu-item menu-item-has-children">
                    <a href="#"><i class="fas fa-cart-plus"></i></a>
                </li> -->
         </ul>
         <!-- /MOBILE MENU -->
      </div>
      <!-- modal-menu-container -->
      <div class="menu-contact">
         <% if(!isUserAuth){ %>
            <div class="mobile-btn"> <a href="/signin" class="view-more">Order Now</a></div>
            <% }else{ %>
               <div class="mobile-btn"> <a href="/our-menu" class="view-more">Order Now</a></div>
               <% } %>
                  <ul class="mobile-contact">
                     <li class="mobile-address">58 Ralph Ave<br />
                        New York, New York 1111
                     </li>
                     <li class="mobile-phone">+1 800 000 111</li>
                     <li class="mobile-email"><a href="#" class="__cf_email__"
                           data-cfemail="01626e6f75606275416479606c716d642f626e6c">[email&#160;protected]</a></li>
                  </ul>
      </div>
      <!-- /menu-contact-->
   </div>
   <!-- /MOBILE MENU HOLDER -->
   <!-- HEADER -->
   <header id="header-1" class="headerHolder header-1">
      <div class="nav-button-holder">
         <button type="button" class="nav-button">
            <span class="icon-bar"></span>
         </button>
      </div>
      <!-- /nav-button-holder-->
      <!-- LOGO -->
      <div class="logo logo-1"><a href="/"><img class="img-fluid" src="images/Pepper-Castle_White.png"
               alt="Pepper Castle" /></a></div>
      <!-- MENU -->
      <nav class="nav-holder nav-holder-1">
         <ul class="menu-nav menu-nav-1">
            <li class="menu-item menu-item-has-children current-menu-item">
               <a href="/">Home</a>
            </li>
            <li class="menu-item menu-item-has-children">
               <a href="/about">About</a>
            </li>
            <li class="menu-item menu-item-has-children">
               <a href="/testimonials">Testimonials</a>
            </li>
            <li class="menu-item menu-item-has-children">
               <a href="/our-menu">Our Menu</a>
            </li>
            <li class="menu-item menu-item-has-children">
               <a href="/contact">Contact</a>
            </li>
         </ul>
      </nav>
      <!-- /MENU -->
      <div class="social-btn-top1">
         <% if(!isUserAuth){ %>
            <ul class="social-media social-media1 login-signup">
               <li class="menu-item menu-item-has-children">
                  <!-- <a href="/signin">SignIn</a> -->
               </li>
            </ul>
            <% }else{ %>
               <ul class=" menu-nav menu-nav-1"></ul>
               <li class="menu-item menu-item-has-children list-unstyled" style="margin-left: 50px;">
                  <a class="icon-link-white" href="/profile"><i class="fas fa-user"></i></a>
               </li>
               <li class="menu-item menu-item-has-children list-unstyled" style="margin-left: 30px;margin-right: 30px;">
                  <a class="icon-link-white" href="/cart"><i class="fa fa-cart-plus" id="cartIcon"></i></a>
               </li>
               </ul>
               <% } %>
                  <% if(!isUserAuth){ %>
                     <div class="btn-header btn-header1 profile-cart-btns">
                        <a href="/signin" class="view-more">Order Now</a>
                     </div>
                     <% }else{ %>
                        <div class="btn-header btn-header1 profile-cart-btns">
                           <a href="/our-menu" class="view-more">Order Now</a>
                        </div>
                        <% } %>
      </div>
      <!-- /social-btn-top1 -->
   </header>
   <!-- /HEADER -->
   <!-- HOME SLIDER -->
   <div class="slider-container">
      <div class="owl-carousel owl-theme home-slider">
         <div class="slider-post slider-item-box-bkg">
            <div class="slider-img slide-1"></div>
            <div class="slider-caption">
               <div class="slider-text">
                  <div class="intro-txt">DINING AT</div>
                  <h2>Pepper Castle</h2>
                  <p>Embering the test
                  </p>
               </div>
            </div>
            <!--slider-caption-->
         </div>
         <!--slider-post-->
         <div class="slider-post slider-item-box-bkg">
            <div class="slider-img slide-2"></div>
            <div class="slider-caption">
               <div class="slider-text">
                  <div class="intro-txt">EVENTS AT</div>
                  <h2>Pepper Castle</h2>
                  <p>Embering the test
                  </p>
               </div>
            </div>
            <!--slider-caption-->
         </div>
         <!--slider-post-->
         <div class="slider-post slider-item-box-bkg">
            <div class="slider-img slide-3"></div>
            <div class="slider-caption">
               <div class="slider-text">
                  <div class="intro-txt">HAPPY HOURS AT</div>
                  <h2>Pepper Castle</h2>
                  <p>Embering the test
                  </p>
               </div>
            </div>
            <!--slider-caption-->
         </div>
         <!--slider-post-->
      </div>
   </div>
   <!-- /HOME SLIDER -->
   <!-- WRAP CONTENT -->
   <div id="wrap-content" class="page-content custom-page-template">
      <!-- SECTION 1 -->
      <div id="home-content-1" class="home-section home-section-1">
         <div class="container">
            <div class="row align-items-center">
               <div class="col-md-3">
                  <img src="images/fried-rice.jpg" alt="Welcome 1" />
               </div>
               <!-- /col-md-3 -->
               <div class="col-md-6">
                  <div class="alignc">
                     <div class="smalltitle margin-b16">ABOUT US</div>
                     <h2 class="home-title">Welcome to Pepper Castle</h2>
                     <p>Embark on a culinary adventure at Pepper Castle, where we offer a taste of India in the heart of
                        the UK. Our restaurant delights in bringing you the rich and vibrant flavours of Indian cuisine,
                        all at affordable prices. From tantalising kebabs and clay oven specialties to a diverse
                        selection of vegetarian options and fragrant rice entrees, we invite you to savour a culinary
                        experience that won't strain your wallet. Join us at pepper castle and discover the perfect
                        blend of affordability and authentic Indian flavours.
                     </p>
                     <p><a class="view-more margin-t24" href="/contact">Book a Table</a></p>
                  </div>
               </div>
               <!-- /col-md-6 -->
               <div class="col-md-3">
                  <img src="images/pexels-rajesh-tp-1624487.jpg" alt="Welcome 2" />
               </div>
               <!-- /col-md-3 -->
            </div>
            <!-- /row -->
         </div>
         <!-- /container -->
      </div>
      <!-- /SECTION 1 -->
      <!-- SECTION 2 -->
      <div id="home-content-2" class="home-section home-section-2 parallax">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="alignc">
                     <div class="smalltitle white margin-b16">Come and See</div>
                     <h2>We create delicious experiences</h2>
                  </div>
               </div>
            </div>
            <!-- /row -->
         </div>
         <!-- /container -->
      </div>
      <!-- /SECTION 2 -->
      <!-- SECTION 5 -->


      <div id="home-content-3" class="home-section home-section-73">
         <div class="container">
            <h2 class="menu-category">Featured Food</h2>
            <div class="row">
               <div class="col-md-4">
                  <div class="menu-img-holder">
                     <div class="menu-img"><img src="images/dish1.png" class="img-fluid" alt="" width="400"
                           height="400"></div>
                     <div class="menu-img-content">
                        <h3 class="menu-img-title">Chicken Biryani</h3>
                        <p class="menu-img-desc">Tender chicken pieces simmered in aromatic spices, mingled with
                           saffron-infused basmati rice, an explosion of flavors.<span>S$ 17.90</span></p>
                     </div>
                  </div>
               </div>
               <!-- /col-md-4 -->
               <div class="col-md-4">
                  <div class="menu-img-holder">
                     <div class="menu-img"><img src="images/fried-rice.jpg" class="img-fluid" alt="" width="400"
                           height="400"></div>
                     <div class="menu-img-content">
                        <h3 class="menu-img-title">Schezwan Chicken Fried Rice</h3>
                        <p class="menu-img-desc">Juicy chicken chunks and vibrant veggies tossed in piquant Schezwan
                           sauce, making each bite of rice a spicy delight.<span>S$ 17.90</span></p>
                     </div>
                  </div>
               </div>
               <!-- /col-md-4 -->
               <div class="col-md-4">
                  <div class="menu-img-holder">
                     <div class="menu-img"><img src="images/keema-naan.jpg" class="img-fluid" alt="" width="400"
                           height="400"></div>
                     <div class="menu-img-content">
                        <h3 class="menu-img-title">Keema Naan</h3>
                        <p class="menu-img-desc">These naan are soft and fluffy and filled with an amazing spiced mince
                           lamb filling<span>S$11.90</span></p>
                     </div>
                  </div>
               </div>
               <!-- /col-md-4 -->
               <div class="col-md-4">
                  <div class="menu-img-holder">
                     <div class="menu-img"><img src="images/veg.jpg" class="img-fluid" alt="" width="400" height="400">
                     </div>
                     <div class="menu-img-content">
                        <h3 class="menu-img-title">Veg Hyderabadi</h3>
                        <p class="menu-img-desc">A medley of garden-fresh veggies, slow-cooked in a vibrant,
                           coconut-infused Hyderabadi masala, tantalizing the taste buds.<span>S$ 16.90</span></p>
                     </div>
                  </div>
               </div>
               <!-- /col-md-4 -->
               <div class="col-md-4">
                  <div class="menu-img-holder">
                     <div class="menu-img"><img src="images/lacha-paratha.jpg" class="img-fluid" alt="" width="400"
                           height="400"></div>
                     <div class="menu-img-content">
                        <h3 class="menu-img-title">Laccha Paratha</h3>
                        <p class="menu-img-desc">Crispy whole wheat layered bread.<span>S$ 8.90</span></p>
                     </div>
                  </div>
               </div>
               <!-- /col-md-4 -->
               <div class="col-md-4">
                  <div class="menu-img-holder">
                     <div class="menu-img"><img src="images/dish6.jpg" class="img-fluid" alt="" width="400"
                           height="400"></div>
                     <div class="menu-img-content">
                        <h3 class="menu-img-title">Prawn Masala</h3>
                        <p class="menu-img-desc">Tender prawn fillets cooked in a fiery blend of spices, creating a
                           mouthwatering symphony of flavors that ignite the palate.<span>S$ 20.90</span></p>
                     </div>
                  </div>
               </div>
               <p style="text-align: center; width: 100%;"><a class="view-more margin-t24" href="/our-menu">View
                     More</a></p>
               <!-- /col-md-4 -->
            </div>
         </div>
         <!-- /container -->
      </div>

      <!-- /SECTION 5 -->
      <!-- SECTION 6 -->
      <div id="home-content-6" class="home-section home-section-6 parallax padding-tb108 mt-5">
         <div class="container">
            <div class="row">
               <div class="col-md-10 offset-md-1">
                  <div class="alignc">
                     <div class="smalltitle white margin-b16">Testimonials</div>
                     <h2 class="home-title">What Clients Say</h2>
                  </div>
                  <div class="owl-carousel owl-theme testimonial-slider">
                     <div class="testimonial-info">
                        <h4 class="testimonial-desc">"My go-to for North Indian food, rates are relatively reasonable
                           for good quality food. Staff are friendly and efficient and give free pappadum with mint
                           sauce. Good to have with a beer at Holland V or to take away for a weekend lunch"</h4>
                        <div>Qi Siang Ng</div>
                     </div>
                     <div class="testimonial-info">
                        <h4 class="testimonial-desc">"Very good quality and Fresh food. Paneer butter Masala was
                           awesome. Samosa was yummy"</h4>
                        <div>Himanshu Arora</div>
                     </div>
                     <div class="testimonial-info">
                        <h4 class="testimonial-desc">"Reasonably priced, fast service and delicious Indian food. I can't
                           remember having any dish so far that didn't taste good. Highly recommended for takeaway, my
                           go-to dishes are - butter chicken, chicken tikka roll, onion & masala kulcha, Matar paneer."
                        </h4>
                        <div>Nikhil Durgani</div>
                     </div>
                     <div class="testimonial-info">
                        <h4 class="testimonial-desc">"Really excellent North Indian dishes at a very reasonable price,
                           especially the chicken tikka and the mutton dishes. The chilly chicken is also good. Go for
                           it, even though it may appear as any other shop in a food court! It's special"</h4>
                        <div>Debabrata Biswas</div>
                     </div>
                  </div>
                  <!-- /testimonial-slider -->
               </div>
               <!-- /col-md-12 -->
            </div>
            <!-- /row -->
         </div>
         <!-- /container -->
      </div>
      <!-- /SECTION 6 -->
      <!-- SECTION 7 -->
      <div id="home-content-7" class="home-section home-section-7">
         <div class="container">
            <div class="row text-center">
               <div class="col-md-12">
                  <div class="alignc">
                     <h2 class="home-title">What Would You Like To Eat?</h2>
                  </div>
                  <div class="row">
                     <div class="col-md-2">
                        <div class="like-to-eat">
                           <a href="/our-menu?category=Kebab Rolls">
                              <div class="widgettitle"><img src="images/01.png"></div>
                              <p>Kebab Rolls</p>
                           </a>
                        </div>
                        <div class="mobile-margin-b48"></div>
                     </div>
                     <!-- /col-md-6 -->
                     <div class="col-md-2">
                        <div class="like-to-eat">
                           <a href="/our-menu?category=Starters">
                              <div class="widgettitle"><img src="images/02.png"></div>
                              <p>Starters</p>
                           </a>
                        </div>
                     </div>
                     <div class="col-md-2">
                        <div class="like-to-eat">
                           <a href="/our-menu?category=Tandoor Appetisers">
                              <div class="widgettitle"><img src="images/03.png"></div>
                              <p>Tandoor Appetisers</p>
                           </a>
                        </div>
                     </div>
                     <div class="col-md-2">
                        <div class="like-to-eat">
                           <a href="/our-menu?category=Salads">
                              <div class="widgettitle"><img src="images/04.png"></div>
                              <p>Salads</p>
                           </a>
                        </div>
                     </div>
                     <div class="col-md-2">
                        <div class="like-to-eat">
                           <a href="/our-menu?category=Rice Specialities">
                              <div class="widgettitle"><img src="images/05.png"></div>
                              <p>Rice Specialities</p>
                           </a>
                        </div>
                     </div>
                     <div class="col-md-2">
                        <div class="like-to-eat">
                           <a href="/our-menu?category=Chaats">
                              <div class="widgettitle"><img src="images/06.png"></div>
                              <p>Chaat</p>
                           </a>
                        </div>
                     </div>
                     <div class="col-md-2">
                        <div class="like-to-eat">
                           <a href="/our-menu?category=">
                              <div class="widgettitle"><img src="images/07.png"></div>
                              <p>Breads From Tandoor</p>
                           </a>
                        </div>
                     </div>
                     <!-- <div class="col-md-2">
                           <div class="like-to-eat">
                              <a href="/our-menu">
                                 <div class="widgettitle"><img src="images/08.png"></div>
                                 <p>Vegetarian Mains</p>
                              </a>
                           </div>
                        </div> -->
                     <div class="col-md-2">
                        <div class="like-to-eat">
                           <a href="/our-menu?category=Seafood">
                              <div class="widgettitle"><img src="images/09.png"></div>
                              <p>Seafood</p>
                           </a>
                        </div>
                     </div>
                     <div class="col-md-2">
                        <div class="like-to-eat">
                           <a href="/our-menu?category=Mutton">
                              <div class="widgettitle"><img src="images/10.png"></div>
                              <p>Mutton</p>
                           </a>
                        </div>
                     </div>
                     <div class="col-md-2">
                        <div class="like-to-eat">
                           <a href="/our-menu?category=Chicken">
                              <div class="widgettitle"><img src="images/11.png"></div>
                              <p>Chicken</p>
                           </a>
                        </div>
                     </div>
                     <div class="col-md-2">
                        <div class="like-to-eat">
                           <a href="/our-menu?category=Desserts">
                              <div class="widgettitle"><img src="images/12.png"></div>
                              <p>Desserts</p>
                           </a>
                        </div>
                     </div>
                     <!-- /col-md-6 -->
                  </div>
                  <!-- /row -->
                  <div id="output-contact"></div>
               </div>
               <!-- /col-md-12 -->
            </div>
            <!-- /row -->
         </div>
         <!-- /container -->
      </div>
      <!-- /SECTION 7 -->
   </div>
   <!-- /WRAP CONTENT -->

   <!-- FOOTER -->
   <footer>
      <div class="container">
         <div class="footer-widgets">
            <div class="row">
               <!-- FOOTER COLUMN 1 -->
               <div class="col-md-4">
                  <div class="foo-block">
                     <div id="text-2" class="widget widget-footer widget_text">
                        <div class="textwidget">
                           <p><img class="size-full wp-image-665" src="images/Pepper-Castle_White.png" alt=""
                                 width="250" height="51"></p>
                           <p>We offer such food connoisseurs the very best of North Indian cuisine that is healthy,
                              tasty, and free from additives.</p>
                        </div>
                     </div>
                  </div>
                  <!--foo-block-->
               </div>
               <!--col-md-3-->
               <!-- FOOTER COLUMN 2 -->
               <div class="col-md-3">
                  <div class="foo-block">
                     <div id="text-3" class="widget widget-footer widget_text">
                        <h5 class="widgettitle"><span>Address</span></h5>
                        <div class="textwidget">
                           <p>33 Lorong liput<br> 277744 Singapore
                           </p>
                           <p style="white-space: nowrap;"><i class="fas fa-phone-alt"></i>+65 97440747<br>
                              <i class="fas fa-envelope"></i><a href="#">peppercastle@hotmail.com</a>
                           </p>
                        </div>
                     </div>
                  </div>
                  <!--foo-block-->
               </div>
               <!--col-md-3-->

               <div class="col-md-3">
                  <div class="foo-block foo-last">
                     <div id="text-5" class="widget widget-footer widget_text">
                        <h5 class="widgettitle"><span>Quick Links</span></h5>
                        <div class="textwidget ftr-menu">
                           <ul>
                              <li><a href="/">-Home</a></li>
                              <li><a href="/about">-About</a></li>
                              <li><a href="testimonials.html">-Testimonials</a></li>
                              <li><a href="/our-menu">-Our Menu</a></li>
                              <li><a href="/contact">-Contact</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <!--foo-block-->
               </div>
               <!-- FOOTER COLUMN 3 -->
               <div class="col-md-2">
                  <div class="foo-block">
                     <div id="text-4" class="widget widget-footer widget_text">
                        <h5 class="widgettitle"><span>Hours</span></h5>
                        <div class="textwidget">
                           <p style="white-space: nowrap;">Monday – Sunday<br>
                              11:00 AM - 11:00 PM
                           </p>
                        </div>
                        <ul class="footer-social">
                           <li><a class="social-facebook" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                           </li>
                           <li><a class="social-instagram"
                                 href="https://www.instagram.com/pepper_castle_/?igshid=eddejyohhgwd" target="_blank"><i
                                    class="fab fa-instagram"></i></a></li>
                        </ul>
                     </div>
                  </div>
                  <!--foo-block-->
               </div>
               <!--col-md-3-->
               <!-- FOOTER COLUMN 4 -->

               <!--col-md-3-->
            </div>
            <!--row-->
         </div>
         <!-- footer-widgets -->
         <div class="copyright">
            <!-- COPYRIGHT -->
            <div class="footer-copy">
               <p>© 2023 - Pepper Castle. All Rights Reserved.</p>
            </div>
            <!-- SOCIAL ICONS -->

         </div>
         <!--copyright-->
      </div>
      <!--container-->
   </footer>
   <!-- /FOOTER -->
   <div class="scrollup">
      <a class="scrolltop" href="#">
         <i class="fa fa-chevron-up"></i>
      </a>
   </div>

   <!-- JS -->
   <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
   <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
   <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
   <script src='js/jquery.js'></script>
   <script src='js/jquery-migrate.min.js'></script>
   <script src='css/bootstrap/js/popper.min.js'></script>
   <script src='css/bootstrap/js/bootstrap.min.js'></script>
   <script src='js/jquery.easing.min.js'></script>
   <script src='js/jquery.fitvids.js'></script>
   <script src='js/owl-carousel/owl.carousel.min.js'></script>
   <script src='js/jquery.magnific-popup.min.js'></script>
   <!-- MAIN JS -->
   <script src='js/init.js'></script>
   <!-- CONTACT FORM JS -->
   <script src='js/jquery.form.min.js'></script>
   <script src='js/contactform-home.js'></script>
   <script>

      // Check location on page load
      window.onload = getLocation;

      // Function to get user's location
      function getLocation() {
         if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(success, error);
         } else {
            navigator.geolocation.getCurrentPosition(success, error);
         }
      }

      // Success callback
      function success(position) {
         const latitude = position.coords.latitude;
         const longitude = position.coords.longitude;
         console.log(latitude, longitude);

         $.ajax({
            url: '/api/getLocationDetails',
            method: 'POST',
            data: { latitude, longitude },
            success: function (response) {
               console.log("", response);
            },
            error: function () {
               console.error("");
            }
         });

         // Optionally, you could fetch additional details (like pincode) using the Google Maps API here
         // Example: fetch('/api/get-pincode', { method: 'POST', body: JSON.stringify({ latitude, longitude }), headers: { 'Content-Type': 'application/json' }});
      }

      // Error callback
      function error(err) {
         switch (err.code) {
            case err.PERMISSION_DENIED:
               document.getElementById('locationDisplay').textContent = "User denied the request for Geolocation.";
               break;
            case err.POSITION_UNAVAILABLE:
               document.getElementById('locationDisplay').textContent = "Location information is unavailable.";
               break;
            case err.TIMEOUT:
               document.getElementById('locationDisplay').textContent = "The request to get user location timed out.";
               break;
            case err.UNKNOWN_ERROR:
               document.getElementById('locationDisplay').textContent = "An unknown error occurred.";
               break;
         }
      }





      $(document).ready(function () {
         $("#news-slider").owlCarousel({
            items: 3,
            itemsDesktop: [1199, 2],
            itemsDesktopSmall: [980, 2],
            itemsMobile: [600, 1],
            navigation: false,
            pagination: false,
            autoPlay: true
         });
      });

      const cartCount = `<%= JSON.stringify(cartCount.cartItemCount) %>`;


      // Select the cart icon element
      const cartIcon = document.getElementById('cartIcon');

      // Create a span element for the counter
      const counter = document.createElement('span');
      counter.style.position = 'absolute';
      counter.style.borderRadius = '50%';
      counter.style.backgroundColor = 'var(--headings-color)';
      counter.style.width = '14px';
      counter.style.height = '14px';
      counter.style.top = '20px';
      counter.style.textAlign = 'center';
      counter.style.lineHeight = '15px';
      counter.style.fontSize = '10px';
      counter.style.color = '#fff';
      counter.textContent = cartCount;

      // Append the counter to the cart icon
      cartIcon.appendChild(counter);
   </script>
</body>

</html>